@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

body{
    background:#f4f6f9;
}

.sidebar{
    width:260px;
    min-height:100vh;
    background:#212529;
}

.sidebar a{
    color:#fff;
    text-decoration:none;
}

.sidebar a:hover{
    background:#343a40;
}

.content{
    margin-left:260px;
}

.card{
    border:none;
    border-radius:12px;
}